/* Global properties ======================================================== */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,div,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,header {
	margin: 0 ;
	padding: 0 ;
	border: 0 ;
	font-size: 100% ;
	font: inherit ;
	vertical-align: central;
}

/* HTML5 display-role reset for older browsers */
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "myriad-pro";
    src: url(../fonts/myriad-pro/MYRIADPRO-REGULAR.OTF) format("truetype");
}
@font-face {
    font-family: "Rennie Beanie";
    src: url(../fonts/reenie/ReenieBeanie.ttf) format("truetype");
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html ,body{
    height:100%;    //for header_image
    padding:0;
    margin:0;
}

.header_studentdashboard {
    width:100%;
    margin:0 auto;
}


body {
    font: 14px/24px Tahoma, Geneva, sans-serif !important;
    margin:auto !important;
    background: #fff7d9;
}

.main-header {
    width:inherit;
    margin:auto !important;
    background:white ;   
    height:80px;
    overflow:hidden;
    position: fixed;
   -moz-box-shadow: 0px 9px 45px #ffffff;
-webkit-box-shadow: 0px 9px 45px #ffffff;
box-shadow: 0px 9px 45px #ffffff;
z-index:1000;
}

.logo_span
{
 background:white;   
}
.logo
{
    height:70px !important;
    transform: translateX(3%) translateY(5%);
    transition: ease-in-out all 0.3s;
-moz-transition: ease-in-out all 0.3s;
-webkit-transition: ease-in-out all 0.3s;
}


.logo:hover
{
transition: ease-in-out all 0.3s;
-moz-transition: ease-in-out all 0.3s;
-webkit-transition: ease-in-out all 0.3s;
border-color: #d3c70c;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 40px rgba(126, 239, 104, 0.6);
outline: 0 none;
pointer:cursor;
}

.pink_icon_nav
{
  background: #fceabb; /* Old browsers */
background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */


    opacity:0.7;
    transition:ease-in-out all 0.3s;
    -moz-transition:ease-in-out all 0.3s;
    -webkit-transition:ease-in-out all 0.3s;
     height:100%;
  
}


.blue_icon_nav
{
   background: #f2f6f8; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

    opacity:0.7;
    height:100%;

}


.green_icon_nav > div , .blue_icon_nav > div , .pink_icon_nav >div , .grey_icon_nav >div 
{
  display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
    }
.green_icon_nav
{
    
   background: #e5f3f3; /* Old browsers */
background: -moz-linear-gradient(top,  #e5f3f3 0%, #a5ede9 48%, #82eae5 49%, #ccfaf9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5f3f3), color-stop(48%,#a5ede9), color-stop(49%,#82eae5), color-stop(100%,#ccfaf9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e5f3f3 0%,#a5ede9 48%,#82eae5 49%,#ccfaf9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e5f3f3 0%,#a5ede9 48%,#82eae5 49%,#ccfaf9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e5f3f3 0%,#a5ede9 48%,#82eae5 49%,#ccfaf9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e5f3f3 0%,#a5ede9 48%,#82eae5 49%,#ccfaf9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f3f3', endColorstr='#ccfaf9',GradientType=0 ); /* IE6-9 */
    opacity:0.7;
    vertical-align: middle !important;
    display:table-cell;
     height:100%;
}


.grey_icon_nav
{
    
    vertical-align: middle !important;
    display:table-cell;
  background: #f4d6db; /* Old browsers */
background: -moz-linear-gradient(top,  #f4d6db 0%, #df7f8d 50%, #dc586c 51%, #f5afb9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4d6db), color-stop(50%,#df7f8d), color-stop(51%,#dc586c), color-stop(100%,#f5afb9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f4d6db 0%,#df7f8d 50%,#dc586c 51%,#f5afb9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f4d6db 0%,#df7f8d 50%,#dc586c 51%,#f5afb9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f4d6db 0%,#df7f8d 50%,#dc586c 51%,#f5afb9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f4d6db 0%,#df7f8d 50%,#dc586c 51%,#f5afb9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4d6db', endColorstr='#f5afb9',GradientType=0 ); /* IE6-9 */



    opacity:0.7; 
   
}

.green_icon_nav:hover , .grey_icon_nav:hover , .blue_icon_nav:hover , .pink_icon_nav:hover
{
    opacity:1;
    transition:ease-in-out all 0.3s;
    -moz-transition:ease-in-out all 0.3s;
    -webkit-transition:ease-in-out all 0.3s;
    cursor:pointer;
 
}
    
#myContainerRight {
  width:450px;
  margin:auto;
  height:100%;
  display:inline-block;
}
 
#myContainerRight .pink_icon_nav, #myContainerRight .blue_icon_nav, #myContainerRight .green_icon_nav, #myContainerRight .grey_icon_nav  {
    width:25%;
    height:80px;    
    float:right;
    padding:0 !important;
    margin:auto !important;
    text-align: center;
    position: relative;
    
}
 
.navbar-images{
    vertical-align: middle !important;
    height:auto;
    max-height:70%;    
    
}

.navbar_img_desc
{
   	position: relative;
	top: 50%;
	transform:translateY(-50%);
        
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	color: #FFFFFF;
        font-weight: 500;
	font-size: 90%;
	padding: 0px;
	text-shadow: 1px 1px 1px #34C702;
        -moz-text-shadow: 1px 1px 1px #34C702;
        -webkit-text-shadow: 1px 1px 1px #34C702;
        display:inline-block;
}
.navbar-images-container{
    vertical-align: middle !important; 
    height:inherit;
    display:table-cell;
     margin: 0 auto;
}
#myContainerRight .pink_icon_nav img, #myContainerRight .blue_icon_nav img, #myContainerRight .green_icon_nav img , #myContainerRight .grey_icon_nav img  {
    height:50px !important;
  
    vertical-align:middle !important;
}

.pink_icon_nav:hover, .grey_icon_nav:hover ,.green_icon_nav:hover ,.blue_icon_nav:hover
{
    transition: linear all 0.3s;
    -moz-transition: linear all 0.3s;
    -webkit-transition: linear all 0.3s;
    
}
/*  FOOTER   */
#footer{
    height:100px;
    z-index:40000;
    position: absolute;
}
#headfoot{
    float:none;
    width: 100%;
    background-color: #fff7d9;  //old: #1E2935; 
    margin-top:40%;
}
#footer_new
{
    width: 100%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    margin: -129px auto 0px;
    overflow: hidden;
    display: block;
    z-index: 10;
    position: relative;
    text-align: center;
}
#footertext{
    width: 980px;
    height: 90px;
    color: rgb(255, 255, 255);
    margin: 20px auto 0px;
    text-align: center;
    display: block;
    z-index: 12;
    position: relative;
    opacity: 1;
}
#center_footer{
    background:#000;
    height: 130px;
    width: 1340px;
    margin:0 auto;
}

#left_footer,#right_footer {
    width:450px;
    padding:20px;
    float:left;
}

#left_footer b{
    color:#fff;
}

#left_footer li{
    float:left;
    margin:0 20px;
}

#left_footer img{
    width:60px;
    height:60px;
}

#right_footer{
    float:right;
}

#right_footer a{ 
    color:#aaa;
    padding:0 10px;
    line-height: 21px;
    font-size: 13px;
    font-weight:bold;
}

#footer span{
    color:#ccc;
    font-size: 13px;
    margin-left: 150px;
}

.copyright
{
    text-align: center;
    margin-top: 10px;
}

/*  ADMIN CSS   */
.main_container_general
{   
    width:1340px;
    float:none;
    margin: auto;
    height: auto;
}
.main_container_general_teacher
{
    width:1340px;
    margin: 40px auto auto auto;
    height: auto;
}


.main_heading_general
{
    border: 1px solid whitesmoke;
    height:40px;
    text-align: center;
    background-color: #EE9153;
    box-shadow: 0px 0px 15px #FFF;
    -moz-box-shadow: 0px 0px 15px #FFF;
    -webkit-box-shadow: 0px 0px 15px #FFF;
}

.main_heading_general label
{
    font-size: 20px;
    font-family: Montserrat;
    padding-top: 10px;
    color:white;
}

.mid_content_general
{
    background-color: #FFF7D9;
    
    width:1340px;
   
}

.right_nav_general
{
    float:right;
    background-color: #222222;
    margin-top: 4%;
}

#right_nav_general
{
    display: none;
}

#right_nav_general_anim
{
    display: block;
    
}

.right_nav_anim
{
    float:right;
    background-color: #66C19E;
    width: 28px;
    margin-top: 4%;
    height: 400px;
}

.right_nav_anim p
{
    margin-top: 205px;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Webkit */        
    -ms-transform:rotate(-90deg); /* IE */
    -o-transform:rotate(-90deg); /* Opera */
    transform:rotate(-90deg); /* future */
}

.right_nav_anim label:hover
{
    cursor: pointer;
}

#right_nav_general_anim:hover
{
    cursor: pointer;
}

.nav_element
{
    background-color: white;
    width: 80px;
    height: 60px;
    text-align: center;
    border: 1px solid #343434;
    display: table;
    padding: 40px;
}

.nav_element_bottom
{
    background-color: white;
    width: 80px;
    height: 60px;
    text-align: center;
    border: 1px solid #343434;
    display: table;
    padding: 40px;
}

.nav_element_top
{
    background-color: #222222;
    width: 80px;
    height: 60px;
    text-align: center;
    border: 1px solid #343434;
    display: table;
    padding: 40px;
}

.nav_element_default
{
    background-color: #66C19E;
    border: 1px solid #7C8389;
}

.nav_element label
{
    display: table-cell;
    vertical-align:middle; 
    font-size: 18px;
    color:black;
    font-weight: 600;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav_element_bottom label
{
    display: table-cell;
    vertical-align:middle; 
    font-size: 18px;
    font-weight: 600;
    color:black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav_element_top label
{
    display: table-cell;
    vertical-align:middle; 
    font-size: 18px;
    font-weight: 600;
    color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav_element:hover
{
    cursor: pointer;
    background-color: #6FB89F;
    color: black;
    border: 1px solid;
}

.nav_element_bottom:hover
{
    cursor: pointer;
    background-color: #6FB89F;
    color: black;
    border: 1px solid;
}


.nav_element:hover label
{
    cursor: pointer;
    background-color: #6FB89F;
    color: black;
}


.nav_element_bottom:hover label
{
    cursor: pointer;
    background-color: #6FB89F;
    color: black;
}

.nav_element_top:hover
{
    cursor: pointer;
    background-color: #6FB89F;
    color: black;
    border: 1px solid;
}

.nav_element_top:hover label
{
    cursor: pointer;
    background-color: #6FB89F;
    color: black;
}

.top_tabs_general
{
    background-color: #FFF7D9;
    width:500px;
    margin: auto;
    padding-top: 20px;
}

.top_tabs_element
{
    display: table-cell;
}

.top_tabs_inside
{
    width: 160px;
    text-align: center;
    border: 1px solid #6FB89F;
    display:table;
    height: 50px;
    background-color: #FFF;
    margin-left: 5px;
}

.top_tabs_element_default
{
    display: table-cell;
}

.top_tabs_inside_default
{
    width: 160px;
    text-align: center;
    border: 1px solid #6FB89F;
    display:table;
    height: 50px;
    background-color: #6FB89F;
    margin-left: 5px;
}


.top_tabs_inside label
{
    display: table-cell;
    vertical-align:middle; 
    font-size: 16px;
    color:#343434;
    font-weight: 600;
    font-family: myriad-pro;
}

.top_tabs_inside_default label
{
    display: table-cell;
    vertical-align:middle; 
    font-size: 16px;
    color:#343434;
    font-weight: 600;
    font-family: myriad-pro;
}

.top_tabs_inside:hover
{
    background-color: #6FB89F;
}

.top_tabs_inside label:hover
{
    cursor: pointer;
}

.top_tabs_inside_default label:hover
{
    cursor: pointer;
}

.mid_forms_general
{
    margin: auto;
    width: 600px;
    background-color: white;
    border: 2px solid #6FB89F;
    margin-top: 35px;
}

.mid_forms_body
{
    margin-left: 30px;
}

.forms_heading
{
    text-align: left;
}

.forms_heading label
{
    font-size: 22px;
    font-family: myriad-pro;
    color: #6FB89F;
    font-weight: 900;
    padding-top: 20px;
}

div.fieldgroup
{
  text-align:left;
}

.fieldgroup input
{
  margin-left:5px;
  width:240px;
margin-top: 13px;
background: white;
}

.fieldgroup select
{
  margin-left:5px;
  width:253px;
        margin-top: 13px;
}

.fieldgroup input[type="submit"]
{
    color: white;
    background-color: #6FB89F;
    width: auto;
    height: 30px;
    -moz-border-radius: 8px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    font-family: myriad-pro;
}

.fieldgroup input[type="submit"]:hover
{
    cursor: pointer;
    color:#6FB89F;
    background-color: white;
    font-weight: bolder;
}

.inputField
{
    text-align: right;
    color: #333333;
    padding: 10px 0px 3px 25px;
    right:100px;
    font-family: Arial,sans-serif;
    font-size: 100%;
    color: #333;
    font-weight: bold;
    height:20px;
    width: 200px;
}

#add_student
{
    display: block;
}

#edit_student
{
    display: none;
}

#general_edit

{
    display: none;
}


#general_delete
{
    display: none;
}

#delete_student
{
    display: none;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:92%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;
		

}

.CSSTableGenerator td{
	vertical-align:middle;
	background-color:#fcfcfc;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:myriad-pro;
	font-weight:normal;
	color:#000000;
        text-align: center;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background-color:#6FB89F;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


.edit_link{
    color:blue !important;
    text-decoration: underline;
}

.edit_link:hover{
    cursor: pointer; 
}



.password_request_container
{    
    margin: auto;
    width:550px;
    padding-top: 40px;    
}

.password-note label
{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
}
.password_request_body
{
    border: 1px solid #6FB89F;
    background-color: white;
    margin-bottom: 50px;
}

.password_request_heading
{
    padding-left: 20px;
    padding-top:10px;
    padding-bottom: 5px;
}

.password_request_heading label
{
    font-size: 22px;
    font-family: myriad-pro;
    color: #6FB89F;
    font-weight: 900;
    padding-top: 20px;
}

.password_request_row_container
{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top:10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.password_request_row
{
    position: relative;
    padding: 8px 8px 32px 8px;
    background: #CDCEAC;
    margin-bottom: 25px;
    height: 160px;
}

.password_request_date label
{
    float: right;
    color:black;
    font-size: 15px;
    font-family: myriad-pro;
}

.password_request_note label
{
    font-size: 18px;
    color: #FFFFFF;
    font-family: myriad-pro;
    padding:10px;
}

.password_request_note label span
{
    color: #000000;
}

.password_request_input
{
    text-align: center;
}

.password_request_input span
{
    font-size: 18px;
    color:black;
    font-family: myriad-pro;
}

.password_request_buttons
{
    text-align: center;
    margin-top: 5px;
    margin-left: 50px;
}

.password_request_buttons input[type="button"]
{
    margin-top: 10px;
    margin-left: -20px;
}

.password_request_buttons input
{
    color: white;
    background-color: #6FB89F;
    width: auto;
    height: 30px;
    -moz-border-radius: 8px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    font-family: myriad-pro;
    width:130px;
    margin-left: -16px;
}


.password_request_buttons input:hover
{
    cursor: pointer;
    color:#6FB89F;
    background-color: #FFFFFF;
}


.password_request_row:after
{
    background: linear-gradient(-45deg, #ffffff 10px, transparent 0), linear-gradient(45deg, #ffffff 10px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}


.team{
    display:inline-table;
}

#team-info {
  margin:0;
  padding:0;
  font-family:"Rennie Beanie";
  font-size:150%;
  text-align:center;
}

#team-info h2{
  font-size:200%;
  font-weight:normal;
 /*text-shadow: 1px 1px 1px black;*/
 color:#000000;
 padding:10px;
   font-weight:800;
}
#team-info ul,li{
  list-style:none;
  
}
#team-info ul{
overflow:hidden; 
display: inline-block;
margin:auto;
width:100%;
padding-top:2%;
padding-bottom: 5%;

}
#team-info ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc ;
  display:block;
  height:12em;
  width:13em;
  //padding:1em;
}
#team-info ul li{
 transition:ease-in-out all 0.7s;
  -moz-transition:ease-in-out all 0.7s;
  -webkit-transition:ease-in-out all 0.7s;
  display:inline-block;
}



#team-info ul li a:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  position:relative;
  z-index:900;
  
  transition:ease-in-out all 0.7s;
  -moz-transition:ease-in-out all 0.7s;
  -webkit-transition:ease-in-out all 0.7s;
}

.top-border{
    border-top:1px solid #aaa;
}

.bottom-border{
    border-bottom:1px solid #aaa;
}

.homepage-headers
{
    //color:#E6E6E6;
    font-family: consolas, monaco, "Lucida Console", monospace;
    color: #000000;
    font-size: 50px;
    padding: 8px;
    margin-left:10% ;
 /*   text-shadow: 2px 1px 1px #6BE0C3;*/
    -moz-text-shadow: 2px 1px 1px #6BE0C3;
    -webkit-text-shadow: 2px 1px 1px #6BE0C3;
    text-align: left;
    background: inherit;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    
}

.gif-headers
{
  
  height:inherit;
  width:10%;
    vertical-align: middle !important;
}


.features_thumbnail , .intro_thumbnail , .team_thumbnail , .contactus_thumbnail
{
    height:80px;
    width:80px;
}
.main-header img
{
    filter:blur(0.5px);
    -moz-filter:blur(0.5px);
    -webkit-filter:blur(0.5px);
}
.portfolio_pic
{
    height:inherit;
    width:inherit;
     filter:  grayscale(90%);
     -moz-filter:  grayscale(90%);
     -webkit-filter: grayscale(90%);
}

.portfolio_pic:hover
{
    
     transition: ease all 0.5s;
     -moz-transition: ease all 0.5s;
     -webkit-transition: ease all 0.5s;
      filter: blur(0px) grayscale(0%);
     -moz-filter: blur(0px) grayscale(0%);
     -webkit-filter: blur(0px) grayscale(0%);
}


.outline-bottom-glow
{
    outline: none;
    border-bottom-color: #5CB811;
    box-shadow: 0 0 10px #5CB811;
    -webkit-box-shadow: 0 0 10px #5CB811;
    -moz-box-shadow: 0 0 10px #5CB811;
}

.outline-top-glow
{
    outline: none;
    border-bottom-color: #5CB811;
    box-shadow: 0 0 10px #5CB811;
    -webkit-box-shadow: 0 0 10px #5CB811;
    -moz-box-shadow: 0 0 10px #5CB811;
}


.intro_text_container
{
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: white dashed 5px;
    width:50%;
    display:inline-block;
    margin:auto;
}

.intro_text{
  font-family: "Century Gothic", CenturyGothic, "Apple Gothic", sans-serif;
	color: #000000;
	font-size: 20px;
	padding: 30px;
        text-align: justify;
	letter-spacing: 0px;
	word-spacing: 15px;
	text-shadow: 2px 1px 1px #F0F0F0;
        -moz-text-shadow: 2px 1px 1px #F0F0F0;
        -webkit-text-shadow: 2px 1px 1px #F0F0F0;
}
.div_center
{
    display:inline-block;
    margin:auto;
}

.fullwidth
{
    width:100%;
   
}

.text_center
{
    text-align:center;
}

#features_list {
  margin-left: 10%;
}
 
#features_list ul {
  list-style-type: none;
  width: 90%;
  text-align:left;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #FBF9FB;
}
 
#features_list h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  color:rgb(32, 32, 32);
}
 
#features_list li img {
   // float: left;
  margin: 0 15px 0 0;
}
 
#features_list li p {
    //bold 20px/1.5
   font:  Helvetica, Verdana, sans-serif;
   color:black;
   font-size:110%;
   letter-spacing: 1px;
   word-spacing:3px;
   text-shadow: 2px 1px 2px #FFFFFF;
   -webkit-text-shadow: 2px 1px 2px #FFFFFF;
   -moz-text-shadow: 2px 1px 2px #FFFFFF;
}
 
#features_list li {
  padding: 10px;
  overflow: auto;
  transition :ease all 0.5s;
  -moz-transition :ease all 0.5s;
  -webkit-transition :ease all 0.5s;
 
}

#features_list li div
{
    display:inline-block;
    vertical-align: top;
    max-width:80%;
}
 
#features_list li:hover {
 background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,253,160,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,253,160,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,253,160,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,253,160,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,253,160,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,253,160,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fffda0',GradientType=0 ); /* IE6-9 */


  cursor: pointer;
  transition :ease all 0.5s;
  -moz-transition :ease all 0.5s;
  -webkit-transition :ease all 0.5s;
}

.inline_div
{
    display:inline-table !important;
}

#features_list li
{   
    border-bottom:1px solid #D1D1D1;
}




#homepage-content{
 
  background: -moz-linear-gradient(top,  rgba(255,238,114,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,238,114,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,238,114,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,238,114,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,238,114,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,238,114,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee72', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

   height:100%;
  


}
#homepage-content section
{
   width: 100%;
}


#homepage-content h3 {
 /*   text-shadow: 2px 1px 1px #6BE0C3;*/
        -moz-text-shadow: 2px 1px 1px #6BE0C3;
        -webkit-text-shadow: 2px 1px 1px #6BE0C3;
}

#contact_feedback_error , #contact_feedback_success
{
    display:none;
}

.office_info_heading
{
    color:#D1504F;
    font-size:200%;
}
#tooltip_navbar_container{
    
}

#tooltip_navbar
{
    height: 80px;
    line-height:80px;
    vertical-align: central !important;
    padding-left:170px;
}

#tooltip_navbar 
{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    font-size: 20px;
   text-shadow: 0 0 5px #FF0000;
   -moz-text-shadow: 0 0 5px #FF0000;
   -webkit-text-shadow: 0 0 5px #FF0000;
   
}

#tooltip_navbar_img
{ 
    height: 80px;
    line-height:80px;
    vertical-align: central;
    
}

.header_image{
    width: 100%;
    height: 55%;
    z-index: 1;
    background-image: url(../images/header.png);
    background-size: 100%;
    background-repeat: repeat-x;
    clear: both;
    float: none;
    overflow: hidden;
    background-color: #fff7d9;  //old: #1E2935; 
}

.main-header_new {
    width:inherit;
    margin:auto !important;
    background:white ;   
    height:80px;
    overflow:hidden;
   margin-bottom:150px;
   -moz-box-shadow: 0px 9px 45px #ffffff;
-webkit-box-shadow: 0px 9px 45px #ffffff;
box-shadow: 0px 9px 45px #ffffff;
z-index:1000;
}


.main-header_new img
{
    filter:blur(0.5px);
    -moz-filter:blur(0.5px);
    -webkit-filter:blur(0.5px);
}

.row-inline{
    display: inline-block;
}

.contactus_form_text
{
   font-family: "Century Gothic", CenturyGothic, "Apple Gothic", sans-serif;
	color: #000000;
	font-size: 20px;
        text-align: justify;
	text-shadow: 2px 1px 1px #F0F0F0;
        -moz-text-shadow: 2px 1px 1px #F0F0F0;
        -webkit-text-shadow: 2px 1px 1px #F0F0F0;   
}


.error-div-success
{
    margin: auto;
    text-align: center;
    width:490px;
    margin-top: 20px;
    border: 1px solid black;
}

.error-div-failure
{
    margin: auto;
    text-align: center;
    width:490px;
    margin-top: 20px;
    border: 1px solid black;
}

#js-error-block
{
    display: none;
}

#delete_button{
    display: none;
}

#edit_main_form
{
    display: none;
}

.success
{
    background-color: #99CC66;
    color: black;
    padding:5px;
}

.failure
{
    background-color: #D35453;
    color: white;
    padding:5px;
}

// Teacher Portal

.top_container_teacher      //Note: it is also inlined in teacher_home.php page
{
    height:400px ;
    background-color: #9BBA1F;
    text-decoration: none;
}
.top_container_teacher h1
{
    font-size: 60px;
    font-weight: bold;
     color:white;
}
.top_container_teacher h2
{
    font-size: 35px;
    color:white;
}
.top_container_teacher text
{
    font-size: 25px;
    color:white;
}
.span_left_heading{
    margin:30px;
}

.left_heading_half
{
    float: left;
    text-align: center;
    margin-top: 20px;
    width : 50%;
    display:inline;
    margin-top: 50px;
    vertical-align: middle;
}
.right_heading_half{
    float: left;
    width : 50%;
    text-align: center;
    display:inline;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.right_heading_half img{
    height: 320px !important;
}

.start_work_teacher{
    height: 130px;
    vertical-align: middle;
    background-color: #9BBA1F;
}
.btn_teacher {
  font-family: cursive;
  color: #ffffff;
  background: #f73f3f;
  padding: 40px 35px 55px 35px;
  text-decoration: none;
  margin: auto;
  display: table;
  cursor: pointer;
  font-size: 26px;
  border:none;
  font-weight: bold;
  //line-height: 70px;
  height: 70px;
}

.btn_teacher:hover {
  background: #3cb0fd;
  text-decoration: none;
  transition: all 0.4s ease;
}
.mid_content_teacher
{
    margin-top: 40px;
    background-color: #f73f3f;
   // min-height: 670px;
    width:1340px;
}
.teacher_mid_left{
  
    width:25%;
   // float:left;
    display: inline;
}
.teacher_mid_right{
    margin:auto;
    margin-left:20%;
    width:74%;
    margin-bottom: 25%;
    
    
}
.no_option_seleted{
    height:60px;
    width:100%;
    margin-top:28%;
    
}
.no_option_seleted label{
    text-align: center;
    margin-left:25px;
    margin-right:25px;
    font-size: 35px;
    font-weight:bold;
    line-height: 60px;
    color:grey;
}
.teacher_option_tab{
    width:fit-content;
    height:142px;
    margin:20px;
    text-align: center;
    cursor: pointer;
    background-color: #ffa200;
     /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); // This is the scale for the normal size of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;
}
.teacher_option_tab label{
    font-family: cursive;
    font-size: 30px;
    line-height: 150px;
    text-align: center;
    font-weight: normal;
    color:#ffffff;
    cursor: pointer;
}
.teacher_option_tab:hover{
     background: #9bba1f;
     text-align: center;
  text-decoration: none;
    /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.1, 1.1); // This is the enlarged size scale of the image.
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
 
  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.1, 1.1);
  -moz-transition-duration: 500ms;
  -moz-transition-timing-function: ease-out;
 
  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.1, 1.1);
  -ms-transition-duration: 500ms;
  -ms-transition-timing-function: ease-out;

}
.teacher_option_tab_selected{
    width:fit-content;
    height:142px;
    text-align: center;
    margin:20px;
    background: #9bba1f;
    border-radius: 15px;
}
.teacher_option_tab_selected label{
    font-family: cursive;
    font-size: 30px;
    line-height: 150px;
    text-align: center;
    text-align: center;
    font-weight: normal;
    color:#ffffff;
}
//Add Assessment
.add_assessment_div{
/*    height:650px;
    max-height:650px;*/
    display:inline-block;
    
   // word-wrap:break-word;
}
.heading_teacher{

  height: 60px;
  background-color: #9bba1f;
 
 //   width:100%;
    background-color:#9bba1f;

}
.heading_teacher h1{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
 //   color: #f73f3f;
    font-family:Montserrat;
    line-height:60px;
}
.labelandtextbox{
    margin-top: 30px;
    width:100%;
    height:40px;
}
.labelandtextbox label{
    margin-left: 25%;
    float:left;
    font-size: 22px;
    display:inline;
    font-family:cursive;
    font-weight:bolder;
    line-height:40px;
}
.labelandtextbox [type="text"]{
   float:left;
   width:300px;
   font-size: 22px;
   display:inline;
   margin-left: 10px;
   height: 35px;
   font-family:cursive;
   //border:#f73f3f medium groove;
}
.drill_box{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left:30px;
    width:80%;
    height:44px;
}
.drill_box label{
    margin-left: 36%;
    float:left;
    font-size: 22px;
    display:inline;
    font-family:cursive;
    font-weight:bolder;
    line-height:40px;
}
.drill_box select{
   float:left;
   width:300px;
   font-size: 20px;
   display:inline;
   margin-left: 10px;
   height: 40px;
   font-family:cursive;
   //border:#f73f3f medium groove;
}
.subheading_teacher{
    width:100%;
    height:50px;
    margin-top:30px;
    margin-bottom:10px;
}
.subheading_teacher h1{
    font-family:Montserrat;
    color:#f73f3f;
    font-size:40px;
    font-weight:bolder;
    float:left;
    margin-left:97px;
}
.questions_wrapper{
    width:100%;
    height:auto;
}

.questions_wrapper_update{
    width:100%;
    height:auto;
    overflow: hidden;
}
.add_question_teacher{
    height:120px;
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
    float: left;
}
.question_leftside{
    width:55%;
    height:100%;
    float:left;
    display:inline;
}
.question_leftside h1{
    float:left;
    display:inline;
    font-size:25px;
    font-weight: bolder;
    margin-left:100px;
    font-family:cursive;
    color:#f73f3f;
}
.question_leftside textarea{
    float:left;
    display:inline;
    font-size:17px;
    font-weight: normal;
    margin-left:25px;
    font-family:cursive;
    width:350px;
}
.correctoption{
    border: #9bba1f 2px solid !important;
}
.question_rightside{
    width:45%;
    height:100%;
    float:left;
    display:inline;
}
.question_rightside [type="text"]{
    font-weight: normal;
    margin-left:5px;
    width:160px;
    height: 30px;
    font-family:cursive;
    font-size:15px;
}
.submit_button_teacher{
    height:100px;
    width:280px;
    margin:20px auto 20px auto;
}

.submit_button_teacher [type="submit"]{
    padding-bottom: 17px;
    padding-top:0px;
    padding-left: 25px;
    padding-right:25px;
    text-decoration: none;
    font-weight: bold;
    border-color: #f73f3f;
    width:280px;
    height:80px;
    line-height:80px;
    font-family:Montserrat;
    font-size:23px;
    color:white;
    background-color: #f73f3f;
}
.Add_another_question_tab{
    
    height:50px;
    width:auto;
    margin:20px auto 20px 151px;
}
.Add_another_question_tab [type="button"]{
    float:left;
    display:inline-block;
    padding:5px;
    height:40px;
    width:364px;
    font-family:cursive;
    font-weight: normal;
    font-size:18px;
    color:white;
    background-color:#9bba1f;
    border-color: #9bba1f;
}
.Add_another_question_tab label{
    float:left;
    display:inline-block;
    visibility: hidden;
    padding:5px;
    height:40px;
    margin-left:-290px;
    width:364px;
    font-family:cursive;
    font-weight: bolder;
    font-size:18px;
    color:#f73f3f;
}

.edit_assessment_div{
  
    
    display:inline-block;
    width:100%;
}
.delete_assessment_div{
    //height:650px;
    
    display:inline-block;
    width:100%;
}
.view_students_div{
    //height:650px;
  
    display:inline-block;
    width:100%;
}
.view_result_container{
    width:100%;
   
    margin-top:20px;
    margin-bottom:20px;
}
.student_view_tab
{
    margin: auto;
//    width:915px;
    width:100%;
    height:80px;
    
}
.student_block{
    height:80px;
    float:left;
    display:inline-block;
    width:180px;
    border: #f73f3f solid thin;
    background-color: #9bba1f;
    text-align: center;
}
.student_block h1{
    
    line-height:80px;
    font-size: 30px;
    font-weight: bolder;
    color:#fafafa;
    background-color: #f73f3f;
    font-family: Montserrat;
}
.student_block label{

     line-height: 80px;
  font-size: large;
  font-weight: normal;
  color: #000;
  font-family: inherit;

}

.student_block_long{
    height:80px;
    float:left;
    display:inline-block;
    width:49%;

    border: #f73f3f solid thin;
    background-color: #9bba1f;
    text-align: center;
}
.student_block_long_heading{
    height:80px;
    float:left;
    display:inline-block;

    width:49%;

    border: #f73f3f solid thin;
    background-color: #f73f3f;
    text-align: center;
}
.student_block_long_heading label
{
    line-height:80px;
    font-size: 30px;
    font-weight: bolder;
    color:#fafafa;
    background-color: #f73f3f;
    font-family: Montserrat;
    
}
.student_block_long label{
    line-height:80px;
    font-size: 22px;
    font-weight: normal;
    color:#000;
    font-family:inherit;
}


.result_card_div
{
 
    max-height:auto;
    display:inline-block;
    width:100%;   
    overflow: hidden;
}


.result_name_th
{
    width:140px;
}

.marks_th
{
    width:40px;
    text-align: center;
}



.tg  {border-collapse:collapse;border-spacing:0;border-color:#000000;border:1px; width:100%;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#000000;color:#669;background-color:snow; text-align:center;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#000000;color:#D1D1D1 !important ;background-color:#343434;}
.tg .tg-c5de{font-weight:bold;font-size:13px;color:#000000;text-align:center}


.error_main_container{
    margin-top: 20%;
    display:inline-block;
    width:100%;
    border: #f73f3f solid thin;
    background-color: #f73f3f;
    text-align: center;
}

.error_label{
   
line-height:80px;
    font-size: 30px;
    font-weight: bolder;
    color:#fafafa;
    background-color: #f73f3f;
    font-family: Montserrat;
}

