@font-face {
    font-family: "Texas";
    src: url(../fonts/Texas/TexasGrunge.ttf) format("truetype");
}

.question_box
{
    width:500px; 
    min-height:300px;
    margin: 35px auto 35px auto;
    background-color:#C7E1B0;
    border: #FEC343 solid medium;
}  
.question_heading
{
    width:100%;
    height:60px;
    background-color: #FEC343;//#253E66;  //#9bba1f;
}
.question_heading h1
{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    color: #BD1717;
    font-family:Texas;
    line-height:60px;
}
.question_body
{
    width:100%;
    height:auto;
}

.labelandtextbox{
    margin-top: 30px;
    margin-bottom: 20px;
    width:100%;
    height:40px;
}

.question_body p{
    font-size: 20px;
    display:inline;
    font-family:cursive;
    font-weight:bolder;
    line-height:40px;
    color:#000000;
}

.question_body label{
   font-size: 20px;
    display:inline;
    font-family:cursive;
    font-weight:bolder;
    line-height:40px;
    color:#000000;
}

.question_statement_tab
{
    margin:20px 10px 20px 20px;
   // display:inline;
}
.question_options_tab
{
    height:40px;
    margin-left:20px;
}
.question_options_tab label{
    margin-left: 20px;
    font-size:17px;
    color:#0000;
}
.question_options_tab [type="radio"]
{
    margin-bottom: 10px;
    border: 0px;
    width:20px;
    height: 2em;
}

.submit_question{
    height:70px;
    width:250px;
    margin:10px auto auto auto;
}

.submit_question [type="button"]{

    text-decoration: none;
    font-weight: bold;
    border-color: #5F9EA0;
    width:250px;
    height:60px;
    line-height:60px;
    font-family:myriad-pro;
    font-size:23px;
    color:white;
    background-color: #0EB077;
}

.initial_test_container
{
    background: #303030; 
    min-height: 540px; 
    padding:20px;
}

.bar-text-margin
{
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
}

#loadingGif
{
    margin-left:600px;
    margin-top: 200px;
}

#questionBox
{
    display:none;
}

.barMargin
{
    margin-left: 299px;
    margin-top: -25px;
}

div.meter {
  position: relative;
  width: 500px;
  height: 25px;
  border: 1px solid #b0b0b0;
  margin-top: 50px;
  /* viewing purposes */
  margin-left: 100px;
  /* viewing purposes */
  -webkit-box-shadow: inset 0 3px 5px 0 #d3d0d0;
  -moz-box-shadow: inset 0 3px 5px 0 #d3d0d0;
  box-shadow: inset 0 3px 5px 0 #d3d0d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
div.meter span {
  display: block;
  height: 100%;
  animation: grower 1s linear;
  -moz-animation: grower 1s linear;
  -webkit-animation: grower 1s linear;
  -o-animation: grower 1s linear;
  position: relative;
  top: -1px;
  left: -1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #3c84ad;
  background: #6eb2d1;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  -webkit-background-size: 45px 45px;
  -moz-background-size: 45px 45px;
  -o-background-size: 45px 45px;
  background-size: 45px 45px;
}
div.meter span:before {
  content: '';
  display: block;
  width: 100%;
  height: 50%;
  position: relative;
  top: 50%;
  background: rgba(0, 0, 0, 0.03);
}
div.meter p {
  position: absolute;
  top: 0;
  margin: 0 10px;
  line-height: 25px;
  font-family: 'Helvetica';
  font-weight: bold;
  -webkit-font-smoothing: antialised;
  font-size: 15px;
  color: #333;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

@keyframes grower {
  0% {
    width: 0%;
  }
}

@-moz-keyframes grower {
  0% {
    width: 0%;
  }
}

@-webkit-keyframes grower {
  0% {
    width: 0%;
  }
}

@-o-keyframes grower {
  0% {
    width: 0%;
  }
}

#finalResult
{
    display: none;
    text-align: center;
}