
#header {
	width: 100%;
	height: 55%;
	z-index:1;
	background-image: url(../images/headfoot/header.png);
	background-size: 100%;
	background-repeat: repeat-x;
	clear:both;
	float: none;
}

/*menu bar start*/
@font-face {
    font-family: "Tw Cen MT";
    src: url(../fonts/TCM.ttf) format("truetype");
}

@font-face {
    font-family: "Jenna Sue";
    src: url(../fonts/JennaSue.ttf) format("truetype");
}


body
{
	background-color:#fff7d9;
	margin:0 auto;
	width:100%;
	font-family:"Tw Cen MT", "Trebuchet MS", "Candara","Century Gothic";
}

body a
{
	text-decoration:none;
}

body a:hover
{
	color:#ffd50a;
}



#nav {
	width:100%;
	height:50px;
	color:#FFF;
	background-color:#252525;
	display:block;
	z-index:3;
	float:left;
	margin-top:-100px;
	position:relative;
}

#link {
	width:980px;
	margin:0 auto;
	display:block;
	margin-left:180px;
	margin-top:9px;
	line-height:30px;
	height:31px;
	/*border: 1px solid #000;*/
	text-align:center;
}

#link a{
	margin-left:18px;
	margin-right:18px;
	width:110px;
	height:30px;
	display:inline-table;
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
}

#link a:hover{
	color: #ffd50a;
	border-bottom:3px solid #ffd50a;
}


#container
{
	width: auto;
	margin:0,auto;
	/*border: 1px solid #000;*/
}
#sub-container
{
	width: 80%;
    margin: 0 auto;
}
#logo
{
	width:100px;
	height:100%;
	float:left;
	margin-top:-212px;
	margin-left:180px;
	display:block;
	z-index:1;
	position:relative;
}

.wordbox
{
	width:100%;
	height:150px;
	display:inline-table;
	margin:0 auto;
	text-align:center;
	font-family:"Jenna Sue";
	font-size:40px;
	line-height:50px;
	/*border:1px solid #000;*/
	margin-top:30px;
	
}

.wordboximg
{
	display:inline-table;
	margin: 0 auto;
	margin-right:70px;
	margin-left:70px;
}

.wordboximg img
{
	display:inline-table;
	border:3px solid #333;
	border-radius:10px;
}

.textcontainer{
	max-width: 80%;
	margin:0 auto;
}

.textbox
{
	
	width:auto;
	display:block;
	margin:0 auto;
	text-align:justify;
	font-size:16px;

}


.heading
{
	width:100%;
	display:block;
	text-align:center;
	/*border:1px solid #000;*/
	line-height:50px;
	font-family:"Jenna Sue";
	font-size:40px;
}
.heading img{
	margin-top: -10px;
	margin-bottom: 10px;
}
.dottedline
{
	width:100%;
	height:4px;
	border-bottom:1px dashed #999999;
	display:inline-table;
	
}

.botdotline
{
	width:980px;
	height:4px;
	border-top:1px dashed #999999;
	display:inline-table;
	margin-top: 10px;
	
}

.morebox
{
	
	width:auto;
	display:block;
	margin:0 auto;
	text-align:center;
	font-size:16px;
	margin:0 auto;

}

.eachbox
{
	width:200px;
	height:170px;
	background-color: black;
	color:#FFF;
	margin-top:10px;
	display:inline-table;
	margin-right:19px;
	margin-left:19px;
	margin-bottom:7px;
	text-align:center;
	line-height: 30px;
		font-family:"Jenna Sue";
	font-size:30px;
	line-height:50px;
}
.eachbox img{

	width:200px;
	height: 180px;
	border: 3px solid black;

}

.eachbox a
{
	color:#FFF;
}



#footer {
	width:100%;
	height:130px;
	background-color: rgba(0, 0, 0, 0.8);
	color:#FFF;
	margin:0 auto;
	margin-top:-130px;
	overflow:hidden;
	display:block;
	z-index:10;
	position:relative;
}

#footertext {
	width:auto;
	height:90px;
	color:#FFF;
	margin:0 auto;
	text-align:center;
	margin-top:20px;
	display:block;
	z-index:12;
	position:relative;
	opacity:1;
}